render*/
logs*/
dinov2_weights/
franka_hand_obj/
__pycache__/
match_demo_vis/
match_vis/
pointclouds/
1.py
2.py
[1-9].py
dataset_exports/
ref_views/
test_views/
*.npy
vis_results/
results/
checkpoints/